//div#header
//	div.row#contain
//		div.col-md-1.col-md-offset-1.cell
//			p About
//		div.col-md-1.cell
//			p Contact
//		div.col-md-1.cell
//			p FAQ
//		div.col-md-4.col-md-offset-1
//			p#logo STU INFO

.bigBanner.hidden-sm.hidden-xs
	.musk
		p.banner-title TG.INFO
		p.banner-intro 持续为您提供优质的商业,设计,开发常用网站信息
		p.banner-btn: a(href="http://portal.helloyzy.cn").btn.btn-primary.btn-lg 进入项目主站

.smallBanner.hidden-lg.hidden-md
	.musk
		p.banner-title TG.INFO
		p.banner-intro 持续为您提供优质的商业,设计,开发常用网站信息
		p.banner-btn: a(href="http://portal.helloyzy.cn").btn.btn-primary.btn-lg 了解工作室

.navbar.navbar-fixed-top.navbar-default.menu
	.container
		.navbar-header
			button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.navbar-brand(href='/')
				h4 TG.INFO
		.collapse.navbar-collapse.navbar-right
			ul.nav.navbar-nav
				li
					a(href='/business'): h4(align='center') 商业
				li
					a(href='/design'): h4(align='center') 设计
				li
					a(href='/dev'): h4(align='center') 开发

//div.container-fluid
//	div.row
//		div.col-md-4
//			a(href='/business'): h3(align='center') Business
//		div.col-md-4
//			a(href='/design'): h3(align='center') Design
//		div.col-md-4
//			a(href='/dev'): h3(align='center') Dev/Code
