div#header
	div.row#contain
		div.col-md-1.col-md-offset-1.cell
			p About
		div.col-md-1.cell
			p Contact
		div.col-md-1.cell
			p FAQ
		div.col-md-4.col-md-offset-1
			p#logo STU INFO

div.container-fluid
	div.row
		div.col-md-4
			a(href='/business'): h3(align='center') Business
		div.col-md-4
			a(href='/design'): h3(align='center') Design
		div.col-md-4
			a(href='/dev'): h3(align='center') Dev/Code
